html,
body {
}


#mainRegisterBtn{
    background-color: #ff4141;
    width: 100%;
}
.registerInputField > input {
    padding: 15px;
}
#mainRegisterDiv  p{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.73);
    text-align: center;
}
#mainRegisterDiv  a{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.73);
}

#searchFormSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
#searchFormContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
#searchFormContainer form{
    display: flex;
    width: 100%;
}
#searchFormContainer input{
    flex: 9.3;
}
#searchFormContainer button{
    flex: 0.7;
}