<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<div>
  <h2>Search Patient: </h2>
  <form th:action="@{/foundPatient.html}" method="post">
  <input type="text" name="email" id="search-input" placeholder="Pretraži pacijenta po emailu">
  <button type="submit">Pretraži</button>
  <table>
      <tr th:each="o : ${osobaList}">
          <td th:text="${o.ime}"></td>
          <td th:text="${o.prezime}"></td>
          <td th:text="${o.telefon}"></td>
          <td th:text="${o.email}"></td>
          <td>
              <a th:href="@{addPatient.html}">Dodaj</a>
          </td>
      </tr>
  </table>
      <p th:text="${error}"></p>
</form>
</div>
</body>
</html>