<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<div>
  <h2>Search Patient: </h2>
  <form th:action="@{/foundPatient.html}" method="post">
      <label>
          <input type="email" name="email"  placeholder="Pretraži pacijenta po emailu"/>
      </label>
      <button type="submit" >Pretraži</button>
  </form>

  <table>
      <tr th:each="o : ${osobaList}">
          <td th:text="${o.ime}"></td>
          <td th:text="${o.prezime}"></td>
          <td th:text="${o.telefon}"></td>
          <td th:text="${o.email}"></td>
          <td>
              <form th:action="@{/savePatient.html}" method="post">
                  <input type="hidden" name="email" th:value="${o.email}"/>
                  <button type="submit">Dodaj</button>

              </form>
          </td>
      </tr>
  </table>
      <p th:text="${error}"></p>
      <p th:text="${msg}"></p>
</div>
</body>
</html>